<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}}</title>
    <link rel="stylesheet" href="../../static/layout.css">
</head>
<body>
    <div class="retangulo">
        <br>
        <h1 style = "text-align: center" class = 'center'>{{titulo_app}}</h1>
        <br>
        <a style = "text-align: center" class = 'btn-listar' href="/listar">Listar Tabelas</a>
        <br>
        <h1><a class='btn-cadastro' href="/cadastrar">Cadastrar</a></h1>
        <h1><a class="btn-editar" href="/listar" >Editar</a></h1>
        <h1><a class="btn-excluir" href="/excluir">Excluir</a></h1>
        <br>
    </div>
</body>
</html>
