body{
    background: rgb(163, 163, 163);
    color:#000;
}

div.retangulo{
    width: 85%;
    margin: 4em auto 2em;
    border-radius: 1em;
    background: #fff;
}
.center{
    border: 1em;
    color:#fff;
    background: #0068bd;
    margin: auto;
    padding: 20px;
    font-family: Comic Sans MS;
    font-size: 40px; 
}
.title-center{
    border-radius: 1em;
    color:#fff;
    background: #1d89e2;
    margin: 60px;
    padding: 25px;
    font-family: Courier New;
    font-size: 35px; 
}
.cadastro-center{
    border-radius: 1em;
    color:#fff;
    background: #1d89e2;
    width: 500px;
    margin: auto;
    padding: 25px;
}
.btn-center{
    color:#fff;
    background: #0068bd;
    border-radius : 0.5em;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: Courier New;
    font-size: 20px;
}
.btn-center:hover{
    color:#0068bd;
    background: #fff;
    border: 2px auto #0068bd;
    
}
input{
    width: auto;

}
input[type=submit]{ 
    color:#fff;
    background: #0068bd;
    border-radius : 0.5em;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-family: Courier New;
    font-size: 20px;
}
input[type=submit]:hover{
    color:#0068bd;
    background: #fff;
    border-radius : 0.5em;
    text-decoration: none;
    font-family: Courier New;
    font-size: 20px;
}

fieldset{
    text-align: center;
    font-family: Courier New;
    font-size: 20px;
}

.center-link{
    color:#fff;
    background: #0068bd;
    border-bottom-right-radius: 1em;
    border-top-right-radius : 1em;
    margin: 2.2 em ;
    padding: 10px;
    text-decoration: none;
}
.center-link:hover{
    color:#0068bd;
    background: #fff;
    border: 3px solid #0068bd;
}
#tabela-listas{
    top: 10px;
    width: auto;
    margin: 70px auto 10px;
    border: 3px solid #0068bd;
    background: #fff;
    color:#000;
}
#divCenter { 
    width: 500px; 
    left: 47%; 
    margin: -130px 0 0 -210px; 
    position: absolute;
    top: 60%;  
}



/* 
.btn-editar{
    color:#fff;
    background: #0068bd;
    border-bottom-right-radius: 1em;
    border-top-right-radius : 1em;
    margin: 2.2 em ;
    padding: 10px;
    text-decoration: none;
}
.btn-editar:hover{
    color:#0068bd;
    background: #fff;
    border: 3px solid #0068bd;
}
.btn-excluir{
    color:#fff;
    background: #0068bd;
    border-bottom-right-radius: 1em;
    border-top-right-radius : 1em;
    margin: 2.2 em ;
    padding: 10px;
    text-decoration: none;
}
.btn-excluir:hover{
    color:#0068bd;
    background: #fff;
    border: 3px solid #0068bd;
} */
