<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Dados do ID</title>
    <link rel="stylesheet" href="../static/layout.css">
</head>
<body>
    <div class="retangulo">
        <br>
        <h1 style = "text-align: center" class = 'center'>{{titulo_app}}</h1>
        <div>
            <br><br>
            <h1><p style = "margin-left: 15%; margin-right: 15%; text-align: center" class = 'title-center'>Editar Id Squad</p></h1>
            <table border="1" id = 'tabela-listas'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome Squad</th>
                    <th>Descricao</th>
                    <th>Integrantes</th>
                    <th>ID_BACKEND</th>
                    <th>ID_FRONTEND</th>
                    <th>ID_SGBD</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ dados[0] }}</th>
                    <td>{{ dados[1] }}</td>
                    <td>{{ dados[2] }}</td>
                    <td>{{ dados[3] }}</td>
                    <td>{{ dados[4] }}</td>
                    <td>{{ dados[5] }}</td>
                    <td>{{ dados[6] }}</td>
                </tr>
            </tbody>
        </table>
        </h3>
        <br>
        <br>
        <br>
        <h3>
            <form action="/alterar/squad/atualizado">
                <input type="hidden" name="id" value="{{dados[0]}}">
                <div class="cadastro-center">
                    <div>
                        <label for="name">Nome Squad: </label>
                        <input type="text" name="nome" value="{{ dados[1] }}" placeholder="{{ dados[1] }}"/>
                    </div>
                    <br>
                    <div>
                        <label for="desc">Descrição: </label>
                        <input type="text" name="desc" value="{{ dados[2] }}" placeholder="{{ dados[2] }}"/>
                    </div>
                    <br>
                    <div>
                        <label for="quant">Integrantes: </label>
                        <select id="id_integ" name="integ" >
                            <option value="{{ dados[3] }}">{{ dados[3] }}</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <label for="back">ID_Backend: </label>
                        <select id="id_back" name="id_back">
                            <option value="{{ dados[7] }}">{{ dados[7] }} - {{ dados[8] }}</option>
                            {% for i in dados_back %}
                                <option value="{{ i[0] }}">{{ i[0] }} - {{ i[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div>
                        <label for="front">ID_Frontend: </label>
                        <select id="id_front" name="id_front" value="{{ dados[5] }}" placeholder="{{ dados[5] }}">
                            <option value="{{ dados[9] }}">{{ dados[9] }} - {{ dados[10] }}</option>
                            {% for i in dados_front %}
                                <option value="{{ i[0] }}">{{ i[0] }} - {{ i[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div>
                        <label for="bd">ID_SGBD: </label>
                        <select id="id_sgbd" name="id_sgbd" value="{{ dados[6] }}" placeholder="{{ dados[6] }}">
                            <option value="{{ dados[11] }}">{{ dados[11] }} - {{ dados[12] }}</option>
                            {% for i in dados_sgbd %}
                                <option value="{{ i[0] }}">{{ i[0] }} - {{ i[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <input type="submit" class = 'cadastro-center' value="Enviar"/>
                </div>
            </form>
        </h3>
        <br>
        <h2><a class = 'center-link' href="/">Voltar a tela inicial</a> <br/></h2>
        <br>      
    </div>
</body>
</html>

