<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Dados do ID</title>
    <link rel="stylesheet" href="../../static/layout.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Dados do ID</title>
    <link rel="stylesheet" href="../static/layout.css">
</head>
<body>
    <div class="retangulo">
        <br>
        <h1 style = "text-align: center" class = 'center'>{{titulo_app}}</h1>
        <div>
            <a type="hidden" name="ling" value="{{ling}}">
            <br><br>
            <h1><p style = "margin-left: 15%; margin-right: 15%; text-align: center" class = 'title-center'>Alterar Linguagem {{ling}}</p></h1>
            <table border = "1" id = 'tabela-listas'>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{{ling}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{ dados[0] }}</th>
                    <td>{{ dados[1] }}</td>
                </tr>
            </tbody>
        </table>
        </h3>
        <br>
        <br>
        <br>
        
        <h3>
            <form action="/alterar/linguagem/dados">
                <input type="hidden" name="id" value="{{dados[0]}}">
                <input type="hidden" name="ling" value="{{ling}}">
                <div class="cadastro-center">
                    <div>
                        <label>Nome {{ling}}: </label>
                        <input type="text" id="nome" name="nome" value="{{ dados[1] }}" placeholder="{{ dados[1] }}"/>
                        <input type="reset" id="nome" value="Limpar">
                    </div>                    
                    <br>
                    <input type="submit" class = 'cadastro-center' value="Enviar"/>
                </div>
            </form>
        </h3>

        <br>
        <h2><a class = 'center-link' href="/">Voltar a tela inicial</a> <br/></h2>
        <br>      
    </div>
</body>
</html>