<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/layout.css">

</head>
<body>
    <div class="retangulo">
        <br>
        <h1 style = "text-align: center" class = 'center'>{{titulo_app}}</h1>
        <div>
            <br><br>
            <h1><p style = "margin-left: 15%; margin-right: 15%; text-align: center" class = 'title-center'>Cadastrar Squad Dev</p></h1>
            <p style = "margin-left: 15%; margin-right: 15%; text-align: center">* Todos os dados são obrigatórios!</p>
            <form action="/cadastrar/squad/inserir">
                <div class="cadastro-center">
                    <fieldset>
                        <legend>Nome Squad</legend>
                        <input type="text" id="name" name="nome" placeholder="Informe o Nome do Squad.."/>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Descrição</legend>
                        <textarea type="text" id="desc" name="desc" placeholder="Informe a descrição do squad.."></textarea>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Integrantes</legend>
                        <select id="id_integ" name="integ">
                            <option value="0">Selecione uma quantidade</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Linguagem Back-end</legend>
                        <select id="id_back" name="id_back">
                            <option value="">Selecione uma Linguagem Back-end</option>
                            {% for i in dados_back %}
                                <option value="{{ i[0] }}">{{ i[0] }} - {{ i[1] }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Framework Front-end</legend>
                        <select id="id_front" name="id_front">
                            <option value="">Selecione um Framework Front-end</option>
                            {% for i in dados_front %}
                                <option value="{{ i[0] }}">{{ i[0] }} - {{ i[1] }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <br>
                    <fieldset>
                        <legend>Gerenciador Database</legend>
                        <select id="id_sgbd" name="id_sgbd">
                            <option value="">Selecione um Gerenciador de Database</option>
                            {% for i in dados_sgbd %}
                                <option value="{{ i[0] }}">{{ i[0] }} - {{ i[1] }}</option>
                            {% endfor %}
                        </select>
                    </fieldset>
                    <br>
                    <input type="reset" value="Limpar">
                    <br>
                    <br>
                    <input type="submit" class = 'cadastro-center' value="Enviar"/>
                </div>
            </form>
            </h2>   
            <br>
            <h2><a class = 'center-link' href="/">Voltar a tela inicial</a> <br> <br></h2>
        </div>
    </div>
</body>
</html> 