<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Tipo de busca </title>
    <link rel="stylesheet" href="../static/layout.css">

</head>
<body>
    <div class="retangulo">
        <br>
        <h1 style = "text-align: center" class = 'center'>{{titulo_app}}</h1>
        <div>
            <a type="hidden" name="ling" value="{{ling}}">
            <br><br>
            <h1><p style = "margin-left: 15%; margin-right: 15%; text-align: center" class = 'title-center'>Cadastrar linguagem {{ling}} </p></h1>
            
            <form action="/cadastrar/ling/cadastrado">
                <input type="hidden" name="ling" value="{{ling}}">
                <div class="cadastro-center">
                    <div>
                        <label>Nome {{ling}}</label>
                        <input type="text" name="nome" placeholder="Informe o nome da linguagem:"/>
                    </div>
                    <br>
                    <input type="submit" class = 'cadastro-center' value="Enviar"/>
                </div>
            </form>   

            <br>
            <h2><a class = 'center-link' href="/">Voltar a tela inicial</a> <br> <br></h2>
        </div>
    </div>
</body>
</html>  