<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Buscar por codigo</title>
    <link rel="stylesheet" href="../static/layout.css">

    <link rel="stylesheet" href="../../../static/layout.css">

</head>
<body>
    <div class="retangulo">
        <br>
        <h1 style = "text-align: center" class = 'center'>{{titulo_app}}</h1>
        <div>
            <a type="hidden" name="ling" value="{{ling}}">
            <br><br>
            <h1><p style = "margin-left: 15%; margin-right: 15%; text-align: center" class = 'title-center'>Linguagens {{ ling }}</p></h1>
            <br>
            <table border="1" id = 'tabela-listas'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ling}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in dados %}
                    <tr>
                        <td>{{ i[0] }}</td>
                        <td>{{ i[1] }}</td>
                        <th><a class = "" href="/alterar/linguagem?id={{ i[0] }}&ling={{ ling }}">Editar</a> </th> 
                        <th><a class = "" href="/excluir/linguagem?id={{ i[0] }}&ling={{ ling }}">Excluir</a> </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <br>
    <br>
    <h2><a class = 'center-link' href="/">Voltar a tela inicial</a> <br/></h2>
    <br>      
    </div>
</body>
</html>