<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo_app}} - Tipo de busca </title>
    <link rel="stylesheet" href="../static/layout.css">
</head>
<body>
    <div class="retangulo">
        <br>
        <h1 style = "text-align: center" class = 'center'>{{titulo_app}}</h1>
        
        <div>
            <br><br>
            <h1><p style = "margin-left: 15%; margin-right: 15%; text-align: center" class = 'title-center'>Escolha o tipo de busca</p></h1>
            <br>
        <div class="center">
            <form action="/listar/codigo/squad">
                <div><label for="codigo" id="codigo">Squad ID </label><br></div>
                <input type="text" name="id" placeholder="Informe o codigo de Squad.."/> <br>
                <input type="submit" value="Enviar"/>
                <br>
            </form>
        </div>
        </h2>
        <h2>
                <div class="center">
                        <form action="/listar/codigo/front">
                            <div><label for="codigo" id="codigo">Front ID </label><br></div>
                            <input type="text" name="id" placeholder="Informe o codigo de linguagem frontend.."/> <br>
                            <input type="submit" value="Enviar"/>
                            <br>
                        </form>
                    </div>
        </h2>
        <h2>
                <div class="center">
                        <form action="/listar/codigo/back">
                            <div><label for="codigo" id="codigo">Back ID </label><br></div>
                            <input type="text" name="id" placeholder="Informe o codigo de linguagem backend.."/> <br>
                            <input type="submit" value="Enviar"/>
                            <br>
                        </form>
                    </div>
        </h2>
        <h2>
                <div class="center">
                        <form action="/listar/codigo/sgbd">
                            <div><label for="codigo" id="codigo">Sgbd ID </label><br></div>
                            <input type="text" name="id" placeholder="Informe o codigo de Sgbd.."/> <br>
                            <input type="submit" value="Enviar"/>
                            <br>
                        </form>
                    </div>
        </h2>
        <h2><a class = 'center-link' href="/listar/todos">Listar Todos</a> <br/></h2>
        <h2><a class = 'center-link' href="/">Voltar a tela inicial</a> <br/></h2>
        <br>        
    </div>
</body>
</html> 